<a href="https://colab.research.google.com/github/elidyizzy/Python-com-SQLite3/blob/main/Estudos_Python_com_SQLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python com SQLite3**

# **O que é SQL?**
1.   SQL significa Linguagem de Consulta Estruturada
2.   SQL permite acessar e manipular bancos de dados
3. SQL tornou-se um padrão do American National Standards Institute (ANSI) em 1986, e da International Organization for Standardization (ISO) em 1987

# **O que é o SQLite?**
SQLite é um banco de dados SQL baseado em arquivo independente. O SQLite vem junto com o Python e pode ser usado em qualquer um dos seus aplicativos Python sem precisar instalar nenhum software adicional.<p>
[Documentação](https://docs.python.org/3/library/sqlite3.html)

In [1]:
# Caso não esteja usando o Colab, instale na sua maquina
# pip install sqlite3
# Biblioteca
import sqlite3

In [2]:
from platform import python_version

print(python_version())

3.7.13

In [3]:
# Criar um banco de dados
Conexao = sqlite3.connect('Banco_Dados')

In [4]:
# Apontar para o banco / com a variável cursor que eu vou apontar para o meu banco de dados
Cursor = Conexao.cursor()

In [5]:
'''# CREATE TABLE => Vai criar uma tabela

Cursor.execute(

    'CREATE TABLE   Minha_Tabela (Data text, Nome text, Idade real)'
)

# Fazer um comit 
Conexao.commit()'''

"# CREATE TABLE => Vai criar uma tabela\n\nCursor.execute(\n\n    'CREATE TABLE   Minha_Tabela (Data text, Nome text, Idade real)'\n)\n\n# Fazer um comit \nConexao.commit()"

In [6]:
"""# INSERT INTO => Inserir valores na tabela

Cursor.execute('INSERT INTO Minha_Tabela VALUES ("03/05/2021", "Élidy", "38")')"""

'# INSERT INTO => Inserir valores na tabela\n\nCursor.execute(\'INSERT INTO Minha_Tabela VALUES ("03/05/2021", "Élidy", "38")\')'

In [7]:
'''Cursor.execute('INSERT INTO Minha_Tabela VALUES ("03/05/2021", "Luciene", "45")')'''

'Cursor.execute(\'INSERT INTO Minha_Tabela VALUES ("03/05/2021", "Luciene", "45")\')'

In [8]:
# Importar Numeros aleatorios
import random

In [9]:
'''# Loop para inserir vários dados de uma vez
for Loop in range(10):

  # Gernado um numero de idade aleatorio
  Numero = random.randint(30, 40)
  
  # Inserir informação na minha tabela
  Cursor.execute( f' INSERT INTO Minha_Tabela VALUES ( "05/01/2021", "Lucas", {Numero} ) ')'''

'# Loop para inserir vários dados de uma vez\nfor Loop in range(10):\n\n  # Gernado um numero de idade aleatorio\n  Numero = random.randint(30, 40)\n  \n  # Inserir informação na minha tabela\n  Cursor.execute( f\' INSERT INTO Minha_Tabela VALUES ( "05/01/2021", "Lucas", {Numero} ) \')'

In [10]:
# SELECT TABLE => Query de consulta - Todas as Colunas
Consulta = Cursor.execute('SELECT * FROM Minha_Tabela').fetchall() # o fetchall lista todos os registros
print(Consulta)

[('03/05/2021', 'Élidy', 38.0), ('03/05/2021', 'Luciene', 45.0), ('05/01/2021', 'Lucas', 40.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 37.0), ('05/01/2021', 'Lucas', 34.0), ('05/01/2021', 'Lucas', 38.0), ('05/01/2021', 'Lucas', 36.0), ('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 34.0), ('05/01/2021', 'Lucas', 40.0), ('Fernando', 'Não Preenchido', 30.0), ('Gildete', 'Não Preenchido', 18.0), ('Rosalvo', 'Não Preenchido', 18.0), ('Juca', 'Não Preenchido', 18.0)]

In [11]:
# Query de consulta - Colunas Especificas
Consulta = Cursor.execute('SELECT Nome, Idade FROM Minha_Tabela').fetchall()

# Loop para nelhorar a visualização da consulta
for Linha in Consulta:
  print( Linha )

('Élidy', 38.0)
('Luciene', 45.0)
('Lucas', 40.0)
('Lucas', 32.0)
('Lucas', 32.0)
('Lucas', 37.0)
('Lucas', 34.0)
('Lucas', 38.0)
('Lucas', 36.0)
('Lucas', 30.0)
('Lucas', 34.0)
('Lucas', 40.0)
('Não Preenchido', 30.0)
('Não Preenchido', 18.0)
('Não Preenchido', 18.0)
('Não Preenchido', 18.0)

# **- WHERE <p>**
A WHERE cláusula é usada para filtrar registros. <p>
*SELECT column1 FROM table_name WHERE condition;*

**Operadores**
1. '='	Igual
2. '>'	Maior	
3. '<'	Menor	
4. '>='	Maior ou Igual	
5. '<='	Menor ou Igual	
6. '<>'	Diferente	
7. 'BETWEEN'	Entre	
8. 'LIKE'	Procurar por padrão	
9. 'IN'	Para especificar vários valores possíveis para uma coluna

In [12]:
from sqlite3.dbapi2 import SQLITE_SELECT
# Query usando o Igual "="

Consulta = Cursor.execute(
'''    
    SELECT * FROM Minha_Tabela
    WHERE Nome = 'Luciene'
    
    '''
).fetchall()

print(Consulta)

[('03/05/2021', 'Luciene', 45.0)]

In [13]:
# Query usando o Igual ">"

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade > 25
    '''
).fetchall()

print(Consulta)

[('03/05/2021', 'Élidy', 38.0), ('03/05/2021', 'Luciene', 45.0), ('05/01/2021', 'Lucas', 40.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 37.0), ('05/01/2021', 'Lucas', 34.0), ('05/01/2021', 'Lucas', 38.0), ('05/01/2021', 'Lucas', 36.0), ('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 34.0), ('05/01/2021', 'Lucas', 40.0), ('Fernando', 'Não Preenchido', 30.0)]

In [14]:
# Query usando o Igual ">"

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade < 33
    '''
).fetchall()

print(Consulta)

[('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 30.0), ('Fernando', 'Não Preenchido', 30.0), ('Gildete', 'Não Preenchido', 18.0), ('Rosalvo', 'Não Preenchido', 18.0), ('Juca', 'Não Preenchido', 18.0)]

In [15]:
# Query usando o Igual ">="

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade >= 30
    '''
).fetchall()

print(Consulta)

[('03/05/2021', 'Élidy', 38.0), ('03/05/2021', 'Luciene', 45.0), ('05/01/2021', 'Lucas', 40.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 32.0), ('05/01/2021', 'Lucas', 37.0), ('05/01/2021', 'Lucas', 34.0), ('05/01/2021', 'Lucas', 38.0), ('05/01/2021', 'Lucas', 36.0), ('05/01/2021', 'Lucas', 30.0), ('05/01/2021', 'Lucas', 34.0), ('05/01/2021', 'Lucas', 40.0), ('Fernando', 'Não Preenchido', 30.0)]

In [16]:
# Query usando o Igual "<>"

Consulta =  Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome <> "Lucas"
    '''
).fetchall()

print(Consulta)

[('03/05/2021', 'Élidy', 38.0), ('03/05/2021', 'Luciene', 45.0), ('Fernando', 'Não Preenchido', 30.0), ('Gildete', 'Não Preenchido', 18.0), ('Rosalvo', 'Não Preenchido', 18.0), ('Juca', 'Não Preenchido', 18.0)]

# **5. - BETWEEN** "Entre"

In [17]:
# Query usando o BetWeen "Entre X a Y"
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade BETWEEN 33 AND 39
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Élidy', 38.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 34.0)

# **- LIKE**
O LIKE operador é usado em uma WHERE cláusula para procurar um padrão especificado em uma coluna. <p>

Existem dois curingas frequentemente usados ​​em conjunto com o LIKEoperador:

 1. O sinal de porcentagem (%) representa zero, um ou vários caracteres
 2. O sinal de sublinhado (_) representa um único caractere

![image.png]()

In [18]:
# Query procurando algo que começe 
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE 'L%'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Luciene', 45.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 40.0)

In [19]:
# Query procurando algo que termine com
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE '%e'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Luciene', 45.0)

In [20]:
# Query procurando algo que tenha o padrão
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome LIKE '%ene%'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Luciene', 45.0)

# **- IN**
O IN operador permite especificar vários valores em uma WHEREcláusula. <p>
O IN operador é um atalho para várias ORcondições.

In [21]:
# Query procurando algo com o IN => Retorna bem específico
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade IN (31,33,39)
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

# **- AND, OR, NOT <p>**
A WHERE cláusula pode ser combinada com os operadores AND, OR e NOT

Os operadores AND e OR são usados ​​para filtrar registros com base em mais de uma condição:

1. O AND operador exibe um registro se todas as condições separadas por AND forem TRUE.
2. O OR operador exibe um registro se alguma das condições separadas por OR for TRUE.
3. O NOT operador exibe um registro se a(s) condição(ões) NÃO for VERDADEIRA.

In [22]:
# AND (Se ambas forem verdadeiras)
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade = 33 AND Nome = 'Lucas'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [23]:
# OR (Se uma for verdadeiras)

Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Idade = 39 OR Nome = 'Luciene'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Luciene', 45.0)

In [24]:
# NOT (Quando não for verdadeira)
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE NOT Nome = 'Lucas'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Élidy', 38.0)
('03/05/2021', 'Luciene', 45.0)
('Fernando', 'Não Preenchido', 30.0)
('Gildete', 'Não Preenchido', 18.0)
('Rosalvo', 'Não Preenchido', 18.0)
('Juca', 'Não Preenchido', 18.0)

In [25]:
# Combinação de Parametros AND OR NOT
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome = 'Lucas' AND (Idade > 30 OR Idade <38 ) AND NOT Idade = 32
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 40.0)

# **ORDER BY <p>**
A ORDER BY é usada para classificar o conjunto de resultados em ordem crescente ou decrescente.

A instrução ORDER BY classifica os registros em ordem crescente por padrão. <p>Para classificar os registros em ordem decrescente, use a palavra DESC.

In [26]:
# Ordenando os valores
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    ORDER BY Idade
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('Gildete', 'Não Preenchido', 18.0)
('Rosalvo', 'Não Preenchido', 18.0)
('Juca', 'Não Preenchido', 18.0)
('05/01/2021', 'Lucas', 30.0)
('Fernando', 'Não Preenchido', 30.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 37.0)
('03/05/2021', 'Élidy', 38.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 40.0)
('03/05/2021', 'Luciene', 45.0)

In [27]:
# Ordenando por 2 critérios : Idade e Nome
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_tabela
    ORDER BY Idade,Nome
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('Gildete', 'Não Preenchido', 18.0)
('Rosalvo', 'Não Preenchido', 18.0)
('Juca', 'Não Preenchido', 18.0)
('05/01/2021', 'Lucas', 30.0)
('Fernando', 'Não Preenchido', 30.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 38.0)
('03/05/2021', 'Élidy', 38.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 40.0)
('03/05/2021', 'Luciene', 45.0)

# **NULL VALUES <p>**
Um campo com valor NULL é um campo sem valor.

Se um campo em uma tabela for opcional, é possível inserir um novo registro ou atualizar um registro sem adicionar um valor a esse campo. Em seguida, o campo será salvo com um valor NULL.<p>

Não é possível testar valores **NULL** com operadores de comparação, como =, < ou <>.
<p>
Teremos que usar os operadores IS NULL e em vez disso IS NOT NULL

In [28]:
'''# Preenchendo valores nulos
Cursor.execute('INSERT INTO Minha_Tabela VALUES ("Fernando", null, 30 ) ')
Cursor.execute('INSERT INTO Minha_Tabela VALUES ("Gildete", null, null ) ')
Cursor.execute('INSERT INTO Minha_Tabela VALUES ("Rosalvo", null, null ) ')
Cursor.execute('INSERT INTO Minha_Tabela VALUES ("Juca", null, null ) ')'''

'# Preenchendo valores nulos\nCursor.execute(\'INSERT INTO Minha_Tabela VALUES ("Fernando", null, 30 ) \')\nCursor.execute(\'INSERT INTO Minha_Tabela VALUES ("Gildete", null, null ) \')\nCursor.execute(\'INSERT INTO Minha_Tabela VALUES ("Rosalvo", null, null ) \')\nCursor.execute(\'INSERT INTO Minha_Tabela VALUES ("Juca", null, null ) \')'

In [29]:
# Verificando valores nulos
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome IS NULL
    '''
).fetchall()
for Linha in Consulta:
    print(Linha)

In [30]:
# Verificando valores não nulos
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome IS NOT NULL
    '''
).fetchall()
for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Élidy', 38.0)
('03/05/2021', 'Luciene', 45.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 40.0)
('Fernando', 'Não Preenchido', 30.0)
('Gildete', 'Não Preenchido', 18.0)
('Rosalvo', 'Não Preenchido', 18.0)
('Juca', 'Não Preenchido', 18.0)

# **SQL UPDATE <p>**
A UPDATE instrução é usada para modificar os registros existentes em uma tabela.

In [31]:
# Modificar um valor
Consulta = Cursor.execute(
    '''
    UPDATE Minha_Tabela
    SET Nome = "Não Preenchido"
    WHERE Nome IS NULL
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [32]:
Consulta = Cursor.execute(
    '''
    UPDATE Minha_Tabela
    SET Idade = 18
    WHERE Idade IS NULL
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [33]:
# Verificando valores não nulos
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    WHERE Nome IS NOT NULL
    '''
).fetchall()
for Linha in Consulta:
    print(Linha)

('03/05/2021', 'Élidy', 38.0)
('03/05/2021', 'Luciene', 45.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 40.0)
('Fernando', 'Não Preenchido', 30.0)
('Gildete', 'Não Preenchido', 18.0)
('Rosalvo', 'Não Preenchido', 18.0)
('Juca', 'Não Preenchido', 18.0)

# **DELETE <p>**
A DELETE instrução é usada para excluir registros existentes em uma tabela.

In [ ]:
'''Consulta = Cursor.execute(
    ''' 
    DELETE from Minha_Tabela
    WHERE Nome = 'Lucas' AND Idade = 15
    '''
).fetchall()'''

*Consultando minha Tabela Inteira*

In [36]:
# Verificando
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

('03/05/2021', 'Élidy', 38.0)
('03/05/2021', 'Luciene', 45.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 37.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 38.0)
('05/01/2021', 'Lucas', 36.0)
('05/01/2021', 'Lucas', 30.0)
('05/01/2021', 'Lucas', 34.0)
('05/01/2021', 'Lucas', 40.0)
('Fernando', 'Não Preenchido', 30.0)
('Gildete', 'Não Preenchido', 18.0)
('Rosalvo', 'Não Preenchido', 18.0)
('Juca', 'Não Preenchido', 18.0)

# **SELECT TOP <p>**
A SELECT TOP cláusula é usada para especificar o número de registros a serem retornados.

A SELECT TOP cláusula é útil em tabelas grandes com milhares de registros. Retornar um grande número de registros pode afetar o desempenho..

In [37]:
# Verificando as priemiras linhas
Consulta = Cursor.execute(
    ''' 
    SELECT * FROM Minha_Tabela
    LIMIT 5
    '''
).fetchall()

# Mostrando o retorno

for Linhas in Consulta:
    print(Linhas)

('03/05/2021', 'Élidy', 38.0)
('03/05/2021', 'Luciene', 45.0)
('05/01/2021', 'Lucas', 40.0)
('05/01/2021', 'Lucas', 32.0)
('05/01/2021', 'Lucas', 32.0)

# **MIN e MAX <p>**
A MIN()função retorna o menor valor da coluna selecionada.<p>

A MAX()função retorna o maior valor da coluna selecionada.

In [38]:
# Verificando
Consulta = Cursor.execute(
    ''' 
    SELECT MIN (Idade) FROM Minha_Tabela
    '''
).fetchall()

# Mostrando o retorno
print( Consulta )

[(18.0,)]

In [39]:
# Verificando
Consulta = Cursor.execute(
    ''' 
    SELECT MAX (Idade) FROM Minha_Tabela
    '''
).fetchall()

# Mostrando o retorno
print( Consulta )

[(45.0,)]

# **COUNT, AVG e SUM <p>**
A COUNT()função retorna o número de linhas que corresponde a um critério especificado.<p>
A AVG()função retorna o valor médio de uma coluna numérica. <p>
A SUM()função retorna a soma total de uma coluna numérica.

In [40]:
# COUNT => Conta a quantidade de registros
Consulta = Cursor.execute(
    '''
     SELECT COUNT (Idade) FROM Minha_Tabela
    '''
).fetchall()
for linhas in Consulta:
    print(Consulta)

[(16,)]

In [41]:
# AVG => Retorna a média da coluna
Consulta = Cursor.execute(
    '''
    SELECT AVG (Idade) FROM Minha_tabela
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

(32.5,)

In [42]:
# SUM => retorna a soma da coluna
Consulta = Cursor.execute(
    '''
    SELECT SUm (Idade) FROm Minha_Tabela

    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

(520.0,)

# **ALIASES <p>**
Os aliases SQL são usados ​​para fornecer um nome temporário a uma tabela ou coluna em uma tabela. <P>
Os aliases são frequentemente usados ​​para tornar os nomes das colunas mais legíveis. <P>
Um alias existe apenas durante essa consulta. <P>
Um alias é criado com a palavra AS chave.

In [43]:
# Verificando
Consulta = Cursor.execute(
    ''' 
    SELECT Idade AS Cadastro_clientes FROM Minha_Tabela
    '''
).fetchall()

# Mostrando o retorno
print( Consulta )

[(38.0,), (45.0,), (40.0,), (32.0,), (32.0,), (37.0,), (34.0,), (38.0,), (36.0,), (30.0,), (34.0,), (40.0,), (30.0,), (18.0,), (18.0,), (18.0,)]

 **17. - JOINS <p>**
Uma JOIN cláusula é usada para combinar linhas de duas ou mais tabelas, com base em uma coluna relacionada entre elas.

Aqui estão os diferentes tipos de JOINs no SQL:

1. (INNER) JOIN: Retorna registros que possuem valores correspondentes em ambas as tabelas
2. LEFT (OUTER) JOIN: Retorna todos os registros da tabela da esquerda e os registros correspondentes da tabela da direita
3. RIGHT (OUTER) JOIN: Retorna todos os registros da tabela da direita e os registros correspondentes da tabela da esquerda
4. FULL (OUTER) JOIN: Retorna todos os registros quando há uma correspondência na tabela esquerda ou direita

In [ ]:
# Criando uma Nova tabela

#### --- Dados Cadastrais dos vendedores
Consulta = Cursor.execute(
    ''' 
    CREATE TABLE Tab_Cadastro_Vendedor (id real, nome text)
    '''
)

# Criando a tabela
Conexao.commit()

In [45]:
# Vendas dos vendedores
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES (1, "Odemir Depieri Jr") ' )
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES (2, "Lucas Calmon") ' )
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES (3, "Elidy izidio") ' )
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES (4, "Luciene de Menezes") ' )
Cursor.execute( 'INSERT INTO Tab_Cadastro_Vendedor VALUES (5, "Gildete Euardo") ' )

In [47]:
"""# Criando Mais uma tabela

#### --- ID do Vendedor e valor de venda dele
Consulta = Cursor.execute(
    ''' 
    CREATE TABLE Tab_Vendas (id real, valor real)
    '''
)

# Criando a tabela
Conexao.commit()"""

"# Criando Mais uma tabela\n\n#### --- ID do Vendedor e valor de venda dele\nConsulta = Cursor.execute(\n    ''' \n    CREATE TABLE Tab_Vendas (id real, valor real)\n    '''\n)\n\n# Criando a tabela\nConexao.commit()"

In [48]:
"""# Vendas dos vendedores
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (1, 100) ' )
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (2, 200) ' )
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (3, 150) ' )
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (4, 50) ' )
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (5, 200) ' )
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (6, 900) ' )"""

"# Vendas dos vendedores\nCursor.execute( 'INSERT INTO Tab_Vendas VALUES (1, 100) ' )\nCursor.execute( 'INSERT INTO Tab_Vendas VALUES (2, 200) ' )\nCursor.execute( 'INSERT INTO Tab_Vendas VALUES (3, 150) ' )\nCursor.execute( 'INSERT INTO Tab_Vendas VALUES (4, 50) ' )\nCursor.execute( 'INSERT INTO Tab_Vendas VALUES (5, 200) ' )\nCursor.execute( 'INSERT INTO Tab_Vendas VALUES (6, 900) ' )"

**INNER JOIN**

In [49]:
"""# Unir a Tabela Tab_Vendas com a Tabela Tab_Cadastro_Vendedor (INNER JOIN)
Consulta = Cursor.execute(
'''
SELECT * FROM Tab_Vendas
INNER JOIN Tab_Cadastro_Vendedor
ON Tab_Vendas.id = Tab_Cadastro_Vendedor.id
'''
).fetchall()

for Linha in Consulta:
    print(Linha)"""

"# Unir a Tabela Tab_Vendas com a Tabela Tab_Cadastro_Vendedor (INNER JOIN)\nConsulta = Cursor.execute(\n'''\nSELECT * FROM Tab_Vendas\nINNER JOIN Tab_Cadastro_Vendedor\nON Tab_Vendas.id = Tab_Cadastro_Vendedor.id\n'''\n).fetchall()\n\nfor Linha in Consulta:\n    print(Linha)"

**LEFT JOIN**

In [50]:
Cursor.execute( 'INSERT INTO Tab_Vendas VALUES (8, 9999) ' )

In [51]:
"""Consulta = Cursor.execute(
    '''
    SELECT * FROM Tab_Vendas
    LEFT JOIN Tab_Cadastro_Vendedor
    ON Tab_vendas.id = Tab_Cadastro_Vendedor.id
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)"""

"Consulta = Cursor.execute(\n    '''\n    SELECT * FROM Tab_Vendas\n    LEFT JOIN Tab_Cadastro_Vendedor\n    ON Tab_vendas.id = Tab_Cadastro_Vendedor.id\n    '''\n).fetchall()\n\nfor Linha in Consulta:\n    print(Linha)"

# **UNION <p> (CONCATENAR)**
O UNION operador é usado para combinar o conjunto de resultados de duas ou mais SELECT instruções.

1. Cada SELECT instrução dentro UNION deve ter o mesmo número de colunas
2. As colunas também devem ter tipos de dados semelhantes
3. As colunas em cada SELECT instrução também devem estar na mesma ordem

In [53]:
"""# Criar tabelas
Cursor.execute(' CREATE TABLE Tabela_X ( Id real, Nome text )')
Conexao.commit()

Cursor.execute(' CREATE TABLE Tabela_Y ( Id real, Nome text )')
Conexao.commit()"""

"# Criar tabelas\nCursor.execute(' CREATE TABLE Tabela_X ( Id real, Nome text )')\nConexao.commit()\n\nCursor.execute(' CREATE TABLE Tabela_Y ( Id real, Nome text )')\nConexao.commit()"

In [ ]:
# Inserir valores
Cursor.execute(' INSERT INTO Tabela_X VALUES ( 1, "Elidy" )')
Cursor.execute(' INSERT INTO Tabela_X VALUES ( 2, "Luciene" )')
Cursor.execute(' INSERT INTO Tabela_X VALUES ( 3, "Gildete" )')

Cursor.execute(' INSERT INTO Tabela_Y VALUES ( 1, "Juca" )')
Cursor.execute(' INSERT INTO Tabela_Y VALUES ( 2, "Rosalvo" )')
Cursor.execute(' INSERT INTO Tabela_Y VALUES ( 3, "Diego" )')

In [ ]:
# Consultar tabelas
Consulta = Cursor.execute(
    '''
    SELECT * FROM Tabela_X
    '''
).fetchall()

print( Consulta )

In [ ]:
# Consultar tabelas
Consulta = Cursor.execute(
    '''
    SELECT * FROM Tabela_y
    '''
).fetchall()

print( Consulta )

In [ ]:
# FAZENDO A UNIÃO DAS TABELAS
Consulta = Cursor.execute(
    '''
    SELECT * FROM Tabela_Y
    UNION ALL
    SELECT * FROM Tabela_X
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

# **GROUP BY <p>**
A GROUP BY instrução agrupa as linhas que têm os mesmos valores em linhas de resumo, como "encontre o número de clientes em cada país".

A GROUP BY instrução é frequentemente usada com funções agregadas ( COUNT(), MAX(), MIN(), SUM(), AVG()) para agrupar o conjunto de resultados por uma ou mais colunas.

In [ ]:
# Consultando a tabela que vamos trabalhar
Consulta = Cursor.execute(
    '''
    SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

In [ ]:
# Agrupar e Somar
Consulta = Cursor.execute(
    '''
    SELECT SUM (Idade) FROM Minha_Tabela
    GROUP BY Nome
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

In [ ]:
# Filtro por valor(nome) specífico
Consulta = Cursor.execute(
    '''
    SELECT SUM (Idade) FROM Minha_Tabela
    WHERE Nome = 'Luciene'
    GROUP BY Nome
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

In [ ]:
# Agrupar e Contar
Consulta = Cursor.execute(
    '''
    SELECT COUNT (Idade) FROM Minha_Tabela
    GROUP BY Nome
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

In [ ]:
# Agrupar e tirar a MAx
Consulta = Cursor.execute(
    '''
    SELECT MAX (Idade) FROM Minha_Tabela
    GROUP BY Nome
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

In [ ]:
# Agrupar e tirar a MIN
Consulta = Cursor.execute(
    '''
    SELECT MIN (Idade) FROM Minha_Tabela
    GROUP BY Nome
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

In [ ]:
# Agrupar e tirar a Média
Consulta = Cursor.execute(
    '''
    SELECT AVG (Idade) FROM Minha_Tabela
    GROUP BY Nome
    '''
).fetchall()

for Linhas in Consulta:
    print(Linhas)

# **COMMENTÁRIOS <p>**
Os comentários são usados ​​para explicar seções de instruções SQL ou para impedir a execução de instruções SQL.

In [ ]:
Consulta = Cursor.execute(
    '''
    -- Comente aqui com '--'
    -- Comente aqui com '--'
    -- Comente aqui com '--'
    -- Comente aqui com '--'
    
    SELECT * FROM Minha_Tabela
    '''
).fetchall()

for Linha in Consulta:
  print( Linha )

# **PRIMARY KEY <p>**
A PRIMARY KEY restrição identifica exclusivamente cada registro em uma tabela.

As chaves primárias devem conter valores UNIQUE e não podem conter valores NULL.

Uma tabela pode ter apenas UMA chave primária; e na tabela, essa chave primária pode consistir em uma ou várias colunas (campos).

In [ ]:
Cursor.execute(
    '''
    CREATE TABLE Clientes (
    ID int NOT NULL,
    Nome varchar(255) NOT NULL,
    Sobrenome varchar(255),
    Idade int,
    PRIMARY KEY (ID)
) 
    '''
)
Conexao.commit()

In [ ]:
# Inserindo valores
Cursor.execute("INSERT INTO Clientes VALUES (1, 'Aline', 'Maciel',  30)")
Cursor.execute("INSERT INTO Clientes VALUES (2, 'Fernanda', 'Maciel',  45)")
Cursor.execute("INSERT INTO Clientes VALUES (3, 'Ailton', 'Castilho',  58)")
Cursor.execute("INSERT INTO Clientes VALUES (4, 'Luciene', 'Menezes',  46)")
Cursor.execute("INSERT INTO Clientes VALUES (5, 'Gildete', 'Eduardo',  58)")
Cursor.execute("INSERT INTO Clientes VALUES (6, 'Rosalvo', 'Gonçalves',  54)")
Cursor.execute("INSERT INTO Clientes VALUES (7, 'Thayline', 'Coelho',  23)")
Cursor.execute("INSERT INTO Clientes VALUES (8, 'Maria', 'Eduarda',  19)")
Cursor.execute("INSERT INTO Clientes VALUES (9, 'Elidy', 'Izidio',  38)")
Cursor.execute("INSERT INTO Clientes VALUES (10, 'Anne', 'Caroline',  39)")

In [ ]:
# Fazendo consulta
Cursor.execute( "SELECT * FROM Clientes").fetchall()